.color-white {
  color: $color-white;
}

.padding__bottom-16 {
  padding-bottom: 16px;
}

.padding__left-16 {
  padding-left: 16px;
}

.center {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inline {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
