<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1 data-testid="h1" class="App-title">This is nice Webpack boilerplate</h1>
  <!-- This is file that will be injected with bundled scripts -->
  <nav data-testid="navbar" class="navbar" role="navigation">
    <ul>
      <li data-testid="nav-li" class="nav-li">
        <a href="#">Home</a>
      </li>
      <li data-testid="nav-li" class="nav-li">
        <a href="#">About</a>
      </li>
      <li data-testid="nav-li" class="nav-li">
        <a href="#">Portfolio</a>
      </li>
      <li data-testid="nav-li" class="nav-li">
        <a href="#">Contact</a>
      </li>
    </ul>

  </nav>
  
</body>
</html>