* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  font-family: $font-family-primary;
}

body {
  background-color: $color-grey-bg;
}

@font-face {
  font-family: 'Karla';
  // these assets are relative to main.scss
  src: url('../assets/fonts/karla.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: green;
  font-family: 'Karla', sans-serif;
  // these assets are relative to main.scss
  background: url('../assets/images/my-image.svg');
  &--man {
    font-size: x-large;
  }
}
