// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-grey-bg: #eeeeee;
$color-grey-numbers: #d7d7d7;
$color-grey-text: #9a999a;
$color-grey-dark: #aaaaaa;
$color-red: #eb3324;
$color-yellow: #fad84a;

// BREAKPOINTS
$bp-small: 34.375em; // 550px;
$bp-medium: 47.5em; // 760px;
$bp-desktop: 64em; // 1024px;
$bp-wide: 105em; // 1680px;

// FONT
$font-family-primary: 'Lato';
$font-family-secondary: 'Anton';
$default-font-size: 1.6rem;
