@import './global/variable.scss';

@font-face {
	font-family: 'MyFont';
	src: url('../fonts/kinetic/HussarBoldWeb.otf') format('otf'),
		url('../fonts/kinetic/HussarBoldWeb.woff') format('woff');

	font-weight: 600;
	font-style: normal;
}

.hello {
	color: green;
	font-family: 'MyFont';
	background: url('../images/bg.jpeg');
}
