<!DOCTYPE html>
<html>
  <head>
    <title>Webpack One Page JS starter</title>

    <!--webpack inject styles / don't modify-->
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>" />
  </head>

  <body>
    <main class="normal">
      <div>from html just one 2</div>
      <img src="${require('./assets/images/my-image.svg')}" alt="" />
    </main>

    <!--webpack inject script file / don't modify-->
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
