@font-face {
  font-family: 'Karla';
  src: url('./karla.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Karla', sans-serif;
  background: url('./my-image.svg');
  &--man {
    font-size: x-large;
  }
}
